button {
    background-color: #007BFF; 
    color: white; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; 
    margin-top: 10px; 

}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    background-color: #003f7f; 
}

#duration-slider {
    width: 77%;
    height: 8px;
    background: #ddd;
    border-radius: 5px; /*Runde ecken*/
    outline: none; /* Remove outline */
    transition: background 0.3s ease; /* Smooth transition for hover effect */
    margin-top: 10px;
    margin-bottom: 15px; 

}

#duration-slider:hover {
    background: #ccc; /* Dunkler beim Hovern */
}

#duration-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #007BFF; /* Thumb color */
    border-radius: 50%; /* Circular thumb */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
}

#duration-slider::-webkit-slider-thumb:hover {
    background: #0056b3; /* Dunkler beim hovern */
    transform: scale(1.1); /* Etwas größer beim hovern */
}

#duration-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007BFF;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

#duration-slider::-moz-range-thumb:hover {
    background: #0056b3;
    transform: scale(1.1);
}
#radius-slider {
    width: 77%;
    height: 8px;
    background: #ddd;
    border-radius: 5px; /* Runde Ecken */
    outline: none; /* Remove outline */
    transition: background 0.3s ease; /* Smooth transition for hover effect */
    margin-top: 10px; 
}

#radius-slider:hover {
    background: #ccc; /*  Dunkler beim Hovern */
}

#radius-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #007BFF; /* Thumb color */
    border-radius: 50%; /* Circular thumb */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
}

#radius-slider::-webkit-slider-thumb:hover { /* Thumb */
    background: #0056b3; /* Dunkler thumb beim hovern */
    transform: scale(1.1); /* Etwas größer beim hovern */
}

#radius-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007BFF;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
